/*----MAIN-STYLES----*/

html, body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, Arial;
  position:relative;
  cursor:default;
  min-width: 1024px;
  font-size: 14px;
  font-weight: 400;
  min-height:100vh;
}

a {
  cursor:pointer;
  text-decoration: none;
  color:inherit;
}
a:hover {
  color:#f82516;
}
a:active {

}

p {

}
b, strong {

}
i {

}
span {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
._center {
text-align:center
}
._right {
text-align:right
}
._middle {
vertical-align:middle
}
._fright {
  float: right;
}
._fleft {
  float: left;
}

.btn {

}
.btn:hover {

}
.btn-red {

}
.btn-red:hover {

}
.btn-dark-blue {

}
.btn-dark-blue:hover{

}
.btn-big {

}

.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.pt-1 {
  padding-top: 10px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pl-1 {
  padding-left: 10px;
}
.pr-1 {
  padding-right: 10px;
}
/*----MAIN-NAVIGATION----*/
.main-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #0d1b2a;
  сolor: #fff;
  width: 100%;
  height: 69px;
  z-index: 100;
  min-width: 1024px
}
.main-menu ul {
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  word-spacing: -.25em;
}
.main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  word-spacing: normal;
}
li.site-nav-item {
  overflow: hidden;
}
li.site-nav-item > a {
  position: relative;
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 25px 30px;
  transition: .5s all ease-out;
}
li.site-nav-item:not(:first-child) a::before{
  content: '';
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #f82516;
  box-shadow: 0 0px 20px #f82516, 0 -5px 30px #f82516;
  transition: transform 0.5s, opacity 0.5s ease-in-out;
  transform: translateY(5px);
}
li.site-nav-item:not(:first-child) a:hover, li.site-nav-item:not(:first-child) a:active{
  color: #f82516;
}
li.site-nav-item:not(:first-child) a:hover::before {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: translateY(0px);
}
li.site-nav-item:first-child {
  padding: 0;
  display: block;
  float: left;
  position: relative;
  width: 150px;
}
li.site-nav-item:first-child img{
  position: absolute;
  top: 40%;
  display: block;
  width: 100px;
}
.main-menu .site-nav .selected-menu-item{
  color: #f82516;
  font-weight: 700;
}
.main-menu .site-nav .selected-menu-item::before{
  opacity: 1;
  transform: translateY(0px);
}

/*--MAIN-NAVIGATION-USER--*/
.user {
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
}
li.user-nav {
  margin-right: 25px;
  max-height: 70px;
  word-spacing: normal;
}
.user-nav a.user{
  display: inline-block;
  padding: 25px 10px;
  transition: all .5s ease-in-out;
}
li.user-nav > a.user:hover{
  color:#f82516;
}
li.user-nav > a.user:hover::before{
  background: none;
  box-shadow: none;
  filter: none;
  opacity: 0;
}
li.user-nav > .user-img {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  padding-right: 5px;
}
li.user-nav .user-img img{
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 42px;
  border: 3px solid #fff;
  top: 8px;
  left: 0;
  transition: border 0.5s, box-shadow 0.5s ease-in-out;
}
li.user-nav .user-img img:hover{
  border: 3px solid #f82516;
  box-shadow: 0 3px 20px #f82516;
}
li.user-nav a.user-name {
  color: #fff;
}
li.user-nav a.user-money {
  background: #17b771;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0 3px 30px #1d8055;
}
li.user-nav a.user-money:hover {
  color: #17b771;
  background: #fff;
}
li.user-nav a.user-options-btn {
  margin-left: 10px;
  background: #1b263b;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 30px;
  max-width: 17px;
  max-height: 17px;
}
li.user-nav a.user-options-btn:hover {
  background: #fff;
}
li.user-nav a.user-options-btn > i{
  transition: all .5s ease-in-out;
}
li.user-nav a.user-options-btn:hover > i{
  transform: rotate(180deg) translateY(2px);
  color: #0d1b2a;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.user-dropdown {
  position: absolute;
  right: 0px;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 110;
  transition: all .5s ease-in-out;
  transform: scale(0) translateY(-100px);
  transform-origin: top right;
  opacity: 0;
  margin-top:10px;
  padding: 10px 0;
}
.user-dropdown a {
  padding: 5px 16px;
  font-size: 12px;
  font-weight: 600;
  display: block;
  transition: color .2s ease-in;
}
.user-dropdown a:hover {
  color: #f82516;
}
.user-dropdown::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  right: 4px; top: -14px; /* Положение треугольника */
  border: 10px solid transparent; /* Прозрачные границы */
  border-bottom: 12px solid #fff; /* Добавляем треугольник */
}
.dropdown:hover .user-dropdown {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: scale(1) translateY(0px);
}
.dropdown:hover a.user-options-btn {
  color: #0d1b2a;
  background: #fff;
}
.dropdown:hover a.user-options-btn > i {
  transform: rotate(180deg) translateY(2px);
}

/*----FORM-STYLES----*/

input, button {
  outline: none;
  border: none;
  border-radius: 0;
  background: none;
}

/*----PAGE-CONTAINER---*/

.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  min-width: 1024px;
  padding-top: 69px;
}
.page-wrapper {
  flex-grow: 20;
}

/*----LEFT-NAVIGATION----*/

.left-menu {
  background: #1b263b;
  display: inline-flex;
  flex-direction: column;
  color: #fff;
  padding: 30px 30px;
  min-height: -webkit-calc(100vh - 129px);
  min-height: calc(100vh - 129px);
}
.left-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-menu li {
  flex-grow: 1;
}
.left-menu li a {
  display: block;
  padding: 5px 0;
  transition: all .3s linear;
}
.left-menu li a .cat-count {
  border: 2px solid #fff;
  float: right;
  padding: 1px 5px;
  border-radius: 15px;
  font-size: 10px;
  transition: border-color .3s linear;
}
.left-menu li a:hover > .cat-count {
  border-color: #f82516;
}
.left-menu li a i {
  font-size: 18px;
  width: 20px;
  transform: translateY(1px);
  text-align: center;
}
form.left-menu-form {
  display: inline-block;
}
form.left-menu-form button {
  cursor: pointer;
  color: #4c566a;
  font-size: 20px;
  padding: 5px;
  transition: color .3s linear;
}
form.left-menu-form button:hover {
  color: #fff;
}
input[name='left-search'] {
  position: relative;
  display: inline-block;
  background: none;
  border-bottom: 2px solid #4c566a;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  transition: border .3s linear;
}
input[name='left-search']::placeholder {
  color: #4c566a;
}
input[name='left-search']:focus {
  border-bottom: 2px solid #fff;
}
/*----SLIDER----*/

.slider {
  background: #ccc;
  height: 300px;
}
.slider ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*----BETS-GRID----*/

/*----BETS-CART----*/

/*----FOOTER----*/
