/*----MAIN-STYLES----*/

html, body {
  background: #0d1b2a;
  color: #0d1b2a;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, Arial;
  position:relative;
  cursor:default;
  min-width: 1200px;
  font-size: 14px;
  font-weight: 400;
}

a {
  cursor:pointer;
  text-decoration: none;
  color:inherit;
}
a:hover {
  color: #f82516;
}
a:active {
  color: #f82516;
}

p {
  font-size: 16px;
  margin: 0 0 1em;
}
b, strong {

}
i {

}
span {

}
h1 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
.hidden {
  display: none;
}
._center {
text-align:center
}
._right {
text-align:right
}
._middle {
vertical-align:middle
}
._fright {
  float: right;
}
._fleft {
  float: left;
}

.left-menu-cats::-webkit-scrollbar {
  width: 17px;
  background: #0d1b2a;
}
.left-menu-cats::-webkit-scrollbar-track {
  width: 17px;
  background: #0d1b2a;
  border-left: solid 15px #1b263b;
}
.left-menu-cats::-webkit-scrollbar-thumb {
  background: #4c566a;
  border-left: solid 15px #1b263b;
}
.left-menu-cats::-webkit-scrollbar-thumb:window-inactive {
	background: #0d1b2a;
}

.page-content::-webkit-scrollbar {
  width: 13px;
  background: #1b263b;
}
.page-content::-webkit-scrollbar-track {
  width: 13px;
  background: #0d1b2a;
  border-left: solid 10px #0d1b2a;
}
.page-content::-webkit-scrollbar-thumb {
  background: #4c566a;
  border-left: solid 10px #0d1b2a;
}
.page-content::-webkit-scrollbar-thumb:window-inactive {
	background: #0d1b2a;
}

.ruble:after {
     content:"\20BD";
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  background: #4c566a;
  color: #fff;
  transition: all .3s linear;
}
.btn:hover {
  background: #bfc7d5;
  color: #0d1b2a;
}
.btn-white-red {
  background: #fff;
  color: #f82516;
}
.btn-white-red:hover {
  background: #f82516;
  color: #fff;
  box-shadow: 0 3px 20px #f82516;
}
.btn-red {
  background: #f82516;
  color: #fff;
  box-shadow: 0 3px 20px #f82516;
}
.btn-red:hover {
  background: #fff;
  color: #f82516;
  box-shadow: none;
}
.btn-dark-blue {

}
.btn-dark-blue:hover{

}
.btn-big {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
}

.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.pt-1 {
  padding-top: 10px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pl-1 {
  padding-left: 10px;
}
.pr-1 {
  padding-right: 10px;
}

/*----MAIN-NAVIGATION----*/

.main-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: #1b263b;
  color: #fff;
  width: 100%;
  height: 69px;
  z-index: 100;
  min-width: 1024px;
  box-shadow: 0 -3px 30px #0d1b2a;
}
.main-menu ul {
  display: inline-block;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  word-spacing: -.25em;
}
.main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  word-spacing: normal;
}
li.site-nav-item {
  overflow: hidden;
}
li.site-nav-item > a {
  position: relative;
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 25px 30px;
  transition: .5s all ease-out;
}
li.site-nav-item:not(:first-child) a::before{
  content: '';
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #f82516;
  box-shadow: 0 0px 20px #f82516, 0 -5px 30px #f82516;
  transition: transform 0.5s, opacity 0.5s ease-in-out;
  transform: translateY(5px);
}
li.site-nav-item:not(:first-child) a:hover, li.site-nav-item:not(:first-child) a:active{
  color: #f82516;
}
li.site-nav-item:not(:first-child) a:hover::before {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: translateY(0px);
}
li.site-nav-item:first-child {
  padding: 0;
  display: block;
  float: left;
  position: relative;
  width: 150px;
}
li.site-nav-item:first-child img{
  position: absolute;
  top: 40%;
  display: block;
  width: 100px;
}
.main-menu .site-nav .selected-menu-item{
  color: #f82516;
  font-weight: 700;
}
.main-menu .site-nav .selected-menu-item::before{
  opacity: 1;
  transform: translateY(0px);
}

/*--MAIN-NAVIGATION-USER--*/
.user {
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
}
li.user-nav {
  margin-right: 25px;
  max-height: 70px;
  word-spacing: normal;
}
.user-nav a.user{
  display: inline-block;
  padding: 25px 10px;
  transition: all .5s ease-in-out;
}
li.user-nav > a.user:hover{
  color:#f82516;
}
li.user-nav > a.user:hover::before{
  background: none;
  box-shadow: none;
  filter: none;
  opacity: 0;
}
li.user-nav > .user-img {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  padding-right: 5px;
}
li.user-nav .user-img img{
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 42px;
  border: 3px solid #fff;
  top: 8px;
  left: 0;
  transition: border 0.5s, box-shadow 0.5s ease-in-out;
}
li.user-nav .user-img img:hover{
  border: 3px solid #f82516;
  box-shadow: 0 3px 20px #f82516;
}
li.user-nav a.user-name {
  color: #fff;
}
li.user-nav a.user-money {
  background: #17b771;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0 3px 30px #1d8055;
}
li.user-nav a.user-money:hover {
  color: #17b771;
  background: #fff;
}
li.user-nav a.user-options-btn {
  margin-left: 10px;
  background: #0d1b2a;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 30px;
  max-width: 17px;
  max-height: 17px;
}
li.user-nav a.user-options-btn:hover {
  background: #fff;
}
li.user-nav a.user-options-btn > i{
  transition: all .5s ease-in-out;
}
li.user-nav a.user-options-btn:hover > i{
  transform: rotate(180deg) translateY(2px);
  color: #0d1b2a;
}
.user-dropdown{
  position: relative;
  display: inline-block;
}
.dropdown {
  position: absolute;
  right: 0px;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 110;
  transition: all .5s ease-in-out;
  transform: scale(0) translateY(-100px);
  transform-origin: top right;
  opacity: 0;
  margin-top:10px;
  padding: 10px 0;
}
.dropdown a {
  padding: 5px 16px;
  font-size: 12px;
  font-weight: 600;
  display: block;
  color: #0d1b2a;
  transition: color .2s ease-in;
}
.dropdown a:hover {
  color: #f82516;
}
.dropdown::after {
  content: '';
  position: absolute;
  right: 4px; top: -14px;
  border: 10px solid transparent;
  border-bottom: 12px solid #fff;
}
.user-dropdown:hover .dropdown {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: scale(1) translateY(0px);
}
.user-dropdown:hover a.user-options-btn {
  color: #0d1b2a;
  background: #fff;
}
.user-dropdown:hover a.user-options-btn > i {
  transform: rotate(180deg) translateY(2px);
}

/*----FORM-STYLES----*/

input, button {
  outline: none;
  border: none;
  border-radius: 0;
  background: none;
}

/*----PAGE-CONTAINER---*/

.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #0d1b2a;
  padding-top: 69px;
  margin-top: 5px;
}
.page-content {
  flex-grow: 20;
  min-width: 660px;
  height: calc(100vh - 84px);
  background: #0d1b2a;
  margin: 5px;
  overflow-y: auto;
}

/*----LEFT-NAVIGATION----*/

.left-menu {
  background: #1b263b;
  display: inline-flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  max-width: 250px;
  min-width: 200px;
  margin: 5px;
  border-radius: 5px;
}
.left-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: calc(100vh - 184px);
}
.left-menu li {
  flex-grow: 1;
}
.left-menu li a {
  display: block;
  padding: 5px 0;
  transition: all .3s linear;
  font-size: 12px;
}
.left-menu li a .cat-count {
  border: 2px solid #fff;
  float: right;
  padding: 1px 5px;
  border-radius: 15px;
  font-size: 10px;
  transition: border-color .3s linear;
}
.left-menu li a:hover > .cat-count {
  border-color: #f82516;
}
.left-menu li a i {
  font-size: 16px;
  width: 20px;
  transform: translateY(1px);
  text-align: center;
}
form.left-menu-form {
  display: inline-flex;
}
form.left-menu-form button {
  cursor: pointer;
  color: #4c566a;
  font-size: 20px;
  padding: 5px;
  transition: color .3s linear;
}
form.left-menu-form button:hover {
  color: #fff;
}
input[name='left-search'] {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  background: none;
  border-bottom: 2px solid #4c566a;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  transition: border .3s linear;
}
input[name='left-search']::placeholder {
  color: #4c566a;
}
input[name='left-search']:focus {
  border-bottom: 2px solid #fff;
}

/*---RIGHT-MENU----*/

.right-menu {
  background: #1b263b;
  color: #fff;
  padding: 20px;
  min-width: 230px;
  margin: 5px;
  border-radius: 5px;
}
.bet-input-container {
  margin-top: 10px;
  display: inline-flex;
}
input[name='bet-sum'] {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  background: none;
  border-bottom: 2px solid #4c566a;
  padding: 3px 5px 7px;
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  transition: border .3s linear;
}
input[name='bet-sum']::placeholder {
  color: #4c566a;
  font-weight: 600;
}
input[name='bet-sum']:focus {
  border-bottom: 2px solid #fff;
}
.right-menu-form label {
  word-wrap: normal;
  padding: 2px 0px;
}
.currency-dropdown{
  position: relative;
}
.currency-dropdown-style {
  right: calc(50% - 15px);
  background: #0d1b2a;
  min-width: 30px;
  width: 30px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  border-radius: 0;
  z-index: 110;
  transition: all .3s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  margin-top: 5px;
  padding: 0;
}
.currency-dropdown-style::after {
  content: '';
  position: absolute;
  right: 0;
  border: 0;
  border-bottom: 0;
}
a.currency-item {
  color: #fff;
  padding: 5px 0;
  text-align: center;
  transition: all .3s linear;
}
a.currency-item:hover{
  background: #bfc7d5;
  color: #0d1b2a;
}
.currency-dropdown a.currency-btn {
  padding: 5px;
  height: 18px;
  border-bottom: 2px solid #4c566a;
  font-size: 12px;
  color: #4c566a;
}
a.currency-btn > i.fa-angle-down {
  transition: all .3s linear;
}
.currency-dropdown:hover a.currency-btn {
  color: #fff;
}
.currency-dropdown:hover a.currency-btn > i.fa-angle-down {
  transform: rotate(-180deg);
}
.currency-dropdown:hover .dropdown {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: scaleY(1);
}
.coupon-event-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.coupon-event .coupon-event-name {
  font-weight: 600;
  font-size: 12px;
}
.coupon-event .coupon-event-koef {
  float: right;
}
.coupon-event .coupon-event-data {
  color: #bfc7d5;
}
.coupon-event-container ul li.coupon-event {
  margin-bottom: 10px;
  font-size: 12px;
}
.coupon-event-container ul:last-child {
  margin-top: 10px;
  border-bottom: 2px solid #4c566a;
}
.delete-coupon-event {
  float: right;
  transition: all .3s linear;
}
.coupon-summary {
  padding-top: 5px;
  font-size: 12px;
}
.coupon-summary div{
  padding: 5px 0;
}
.coupon-summary .summary-koef-num {
  float: right;
  color: #bfc7d5;
  padding: 0;
}
.summary-win {
  position: relative;
  font-weight: 600;
  font-size: 14px;
}
.summary-win .summary-win-num {
  position: absolute;
  right: 0;
  top: 4px;
  display: inline-block;
  color: #fff;
  background: #f82516;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 12px;
}
.coupon-toggle-block {
  width: 100%;
  text-align: center;
}
.coupon-toggle-block ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}
.coupon-toggle-block ul li {
  flex-grow: 1;
  border-bottom: 2px solid #4c566a;
}
.coupon-toggle-block ul li a {
  position: relative;
  display: block;
  color: #4c566a;
  padding: 10px;
  transition: all .3s linear;
}
.coupon-toggle-block ul li a:hover {
  color: #fff;
}
.coupon-toggle-block ul li a::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background: #f82516;
  transition: all .3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}
.coupon-toggle-block ul li a:hover::after {
  background: #fff;
  transform: scaleX(1);
}
#coupon-toggle-2::after {
  transform-origin: left;
}
.coupon-toggle-block ul li a.toggle-selected {
  color: #f82516;
}
.coupon-toggle-block ul li .toggle-selected:hover::after {
  background: #f82516;
}
.coupon-toggle-block ul li > .toggle-selected::after {
  background: #f82516;
  transform: scaleX(1);
}


/*----SLIDER----*/

#slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background: #4c566a;
  height: 300px;
}
#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: inherit;
}
#slider ul li {
  position: relative;
  display: block;
  margin: 0;
  text-align: center;
}
a.control_prev, a.control_next {
  position: absolute;
  z-index: 999;
  display: block;
  line-height: 100%;
  padding: 0 3%;
  width: auto;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease;
}
a.control_prev i, a.control_next i{
  position: absolute;
  top: calc(50% - 24px);
}
a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
a.control_next {
  right: 0;
}

/*---FILTERS-MENU---*/
.filters {
  width: calc(100% - 40px);
  padding: 20px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.filters ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.filters ul li{
  flex-grow: 1;
}
.filters ul li a.filter-item{
  display: block;
  position: relative;
  padding-bottom: 10px;
  font-weight: 600;
  transition: all .3s linear;
}
.filters ul li a.filter-item::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -3px;
  left: 0;
  height: 3px;
  background: #0d1b2a;
  transition: all .3s ease-in-out;
  transform: scaleX(1);
}
.filter-dropdown:hover a.filter-item::before {
  transform: scaleX(0);
}
.filters ul li a.filter-selected-item {
  color: #f82516;
}
.filters ul li a.filter-selected-item::before {
  background: #f82516;
}
.filters ul li:last-child {
  margin-left: 15px;
}
.filter-dropdown{
  position: relative;
}
.filter-dropdown-style {
  right: calc(50% - 40px);
  background: #0d1b2a;
  min-width: 80px;
  width: 80px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  border-radius: 0;
  z-index: 110;
  transition: all .3s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  margin-top:0px;
  padding: 0;
}
.filter-dropdown-style::after {
  content: '';
  position: absolute;
  right: 0;
  border: 0;
  border-bottom: 0;
}
a.filter-item > i {
  transition: all .3s linear;
}
a.filter-item-hour, a.filter-item-date {
  color: #fff;
  transition: all .3s linear;
}
a.filter-item-hour:hover, a.filter-item-date:hover {
  background: #bfc7d5;
  color: #0d1b2a;
}
.filter-dropdown:hover a.filter-item {
  color: #f82516;
}
.filter-dropdown:hover a.filter-item > i {
  transform: rotate(-180deg);
}
.filter-dropdown:hover .dropdown {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: scaleY(1);
  border-top: 3px solid #f82516;
}
.filter-menu-form {
  display: flex;
  padding: 0;
}
.filter-menu-form input {
  flex-grow: 1;
  border-bottom: 3px solid #0d1b2a;
  padding: 6px 20px;
  font-size: 14px;
}
.filter-menu-form button {
  font-size: 20px;
  padding: 0;
  padding-left: 10px;
  transition: color .3s linear;
  cursor: pointer;
}
.filter-menu-form button:hover {
  color: #f82516;
}

/*----BETS-GRID----*/

.event-grid {
  width: 100%;
  background: #0d1b2a;
  margin-top: 10px;
}
.event-head {
  background: #1b263b;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.event-head i.fa-angle-down {
  transition: transform .3s ease-in-out;
}
.event-item {
  margin-bottom: 5px;
}
.event-selected-item {
  background: #4c566a;
}
.event-selected-item > .event-count {
  color: #4c566a;
}
.event-name span.event-count {
  background: #fff;
  color: #1b263b;
  padding: 2px 7px;
  margin-left: 10px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10px;
}

.show-event {
  float: right;
}
.event-body {
  display: none;
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.event-body table {
  width: 100%;
  margin: 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: none;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
.event-body table thead {
  background: #bfc7d5;
  color: #4c566a;
}
.event-body table th {
  padding: 10px 0;
  font-size: 10px;
  font-weight: 700;
}
.event-body table thead th:first-child {
  text-align: left;
  padding-left: 10px;
}
.event-body table td:first-child {
  position: relative;
  color: #1b263b;
  padding: 10px;
  padding-right: 0;
}
.event-body table td a {
  display: inline-block;
  border-radius: 15px;
  background: #bfc7d5;
  padding: 5px 10px;
  max-width: 30px;
  font-size: 10px;
  font-weight: 700;
  color: #4c566a;
  transition: all .3s ease-in-out;
}
.event-body table td a:hover {
  color: #fff;
  background: #4c566a;
}
.event-body table td a.event-koef-red {
  background: #f82516;
  box-shadow: 0 2px 10px #f82516;
  color: #fff;
}
.event-body table td a.event-koef-red:hover {
  background: #f82516;
  box-shadow: none;
}
.event-body table td.total-koef {
  background: #e4e9f1;
  color: #4c566a;
  font-size: 10px;
  font-weight: 700;
  transition: background .3s linear;
}
.event-body table tbody tr {
  transition: background .3s linear;
  border-bottom: 2px solid #bfc7d5;
}
/*.event-body table thead th:nth-child(8) {
  border-left: 2px solid #4c566a;
}*/
.event-body table tbody td:nth-child(8) {
  border-left: 2px solid #bfc7d5;
}
.event-body table tbody tr:last-child {
  border: 0;
}
.event-body table tbody tr:hover {
  background: #e4e9f1;
}
.event-body table tbody tr:hover > td.total-koef{
  background: #bfc7d5;
}
.event-body table td:not(:first-child), .event-body table th:not(:first-child){
  text-align: center;
}
.event-body table td time{
  display: block;
  font-size: 10px;
  color: #4c566a;
}
.event-body table td .event-item-name {
  font-weight: 700;
  font-size: 12px;
}
.event-body table td .event-live::after {
  content: 'LIVE';
  display: inline-block;
  margin-left: 10px;
  background: #f82516;
  box-shadow: 0 1px 7px #f82516;
  color: #fff;
  padding: 3px 7px;
  font-size: 10px;
  border-radius: 15px;
  font-weight: 400;
}
.event-body table .event-block td a.event-other-koefs {
  display: inline-block;
  text-align: center;
  margin: 0;
  font-size: 10px;
}
/*----BETS-CART----*/

/*----FOOTER----*/
