/*----MAIN-STYLES----*/

html, body {
  background: #fff;
  color: #000;
  padding: 0;
  margin: 0;
  font-family: Arial;
  position:relative;
  cursor:default;
  min-width: 1024px;
}

a {
  cursor:pointer;
  text-decoration: none;
  color:inherit;
}
a:hover {

}
a:active {

}

p {

}
b, strong {

}
i {

}
span {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
._center {
text-align:center
}

._right {
text-align:right
}

._middle {
vertical-align:middle
}

.btn {

}
.btn:hover {

}
.btn-red {

}
.btn-red:hover {

}
.btn-dark-blue {

}
.btn-dark-blue:hover{

}
.btn-big {

}

.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.ml-1 {
  margin-left: 20px;
}
.mr-1 {
  margin-right: 20px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.pt-1 {
  padding-top: 10px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pl-1 {
  padding-left: 10px;
}
.pr-1 {
  padding-right: 10px;
}
/*----MAIN-NAVIGATION----*/
.main-menu {
  position: fixed;
  background: #0d1b2a;
  Ñolor: #fff;
  width: 100%;
  z-index: 100;
}
.main-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}
.main-menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left:-.36em
}
.main-menu li a {
  position: relative;
  cursor:pointer;
  color: #fff;
  display: block;
  padding: 25px 30px;
  transition: .5s all ease-out;
}
.main-menu li:not(:first-child) a::before{
  content: '';
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #f82516;
  box-shadow:0 -5px 30px #f82516;
  transition: transform 0.5s, opacity 0.5s ease-in-out;
  transform: translateY(5px);
}
.main-menu li:not(:first-child) a:hover, .main-menu li:not(:first-child) a:active{
  color: #f82516;
}
.main-menu li:not(:first-child) a:hover::before {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
  transform: translateY(0px);
}
.main-menu li:first-child {
  padding: 0;
  display: block;
  float: left;
  position: relative;
  width: 150px;
}
.main-menu li:first-child img{
  position: absolute;
  top: 37%;
  display: block;
  width: 100px;
}

/*--MAIN-NAVIGATION->-USER--*/

/*----FORM-STYLES----*/

input {
-webkit-border-radius:0;
border-radius:0
}

/*----LEFT-NAVIGATION----*/

/*----PAGE-CONTAINER---*/

/*----SLIDER----*/

/*----BETS-GRID----*/

/*----BETS-CART----*/

/*----FOOTER----*/
